.card {
  box-sizing: border-box;
  padding: 20px;
  overflow-x: hidden;
  background-color: var(--el-bg-color);
  border: 1px solid var(--el-border-color-light);
  border-radius: 6px;
  box-shadow: 0 0 12px rgb(0 0 0 / 5%);
}

.no-card {
  .card {
    padding: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
  }
  .table-search {
    padding: 18px 0 0 !important;
    margin-bottom: 0 !important;
  }
}

.table-box,
.table-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  //搜索区域
  .table-search {
    padding: 18px 18px 0px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-start;
    //表单区域
    .el-form {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      .el-form-item__content > * {
        width: 100%;
        height: 32px;
      }
      .el-range-editor.el-input__wrapper {
        padding: 0 10px;
      }
    }
    //操作区域
    .operation {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-bottom: 18px;
      margin-left: 18px;
    }
  }

  //表格顶部
  .table-header {
    display: flex;
    justify-content: space-between;
    .el-button {
      margin-bottom: 15px;
    }
  }

  .el-table {
    flex: 1;
    table {
      width: 100%;
    }
    //表头样式
    .el-table__header th {
      font-weight: bold;
      color: var(--el-text-color-primary);
      background: var(--el-fill-color-light) !important;
    }
    //sort列的鼠标样式
    .el-table__row {
      height: 45px;
      font-size: 14px;
      .move {
        cursor: move;
        .el-icon {
          cursor: move;
        }
      }
    }
    //header文字不换行并省略
    .el-table__header .el-table__cell > .cell {
      white-space: wrap;
    }
    // 解决表格数据为空时样式不居中问题(仅在element-plus中)
    .el-table__empty-block {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      .table-empty {
        line-height: 30px;
      }
    }
  }

  .el-pagination {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
}
